<app-navbar></app-navbar>
<div class="play-container container" *ngIf="movie">
  <img
    [src]="movie.backdrop_path ? 'https://image.tmdb.org/t/p/w1280' + movie.backdrop_path : 'https://www.chestnutgrove.org.uk/MainFolder/default-banner/default-banner-mobile.jpg'"
    alt="" class="play-img">
  <div class="play-text">
    <h2>{{ movie.title }}</h2>
    <div class="rating" *ngIf="movie.vote_average">
      <h1>{{ movie.vote_average.toFixed(2) }}</h1>
      <i *ngFor="let star of getStarRating(movie.vote_average)" class="{{ star }}"></i>
    </div>
    <div class="tags">
      <span *ngFor="let genres of movie.genres">{{ genres.name }}</span>
    </div>
    <div [ngStyle]="{'display': 'flex', 'justify-content': 'flex-start'}">
      <a href="{{ trailer }}" target="_blank" class="watch-btn" *ngIf="trailer">
        <i class="bx bx-right-arrow"></i>
        <span>Mirar Trailer</span>
      </a>
      <a *ngIf="client" (click)="moda2Service.open('modal-3')" target="_blank" class="watch-btn"
        [ngStyle]="{'margin-left': '10px'}">
        <i class='bx bx-plus'></i>
        <span>Añadir a Lista</span>
      </a>

      <!-- Modal to add to list -->
      <app-modal id="modal-3">
        <h3>Añadir a Lista</h3>
        <div class="search-box">
          <input type="search" name="" id="search-input" placeholder="Buscar una lista" [(ngModel)]="searchTerm"
            (input)="filterLists()">
          <i class="bx bx-search"></i>
        </div>
        <button (click)="moda2Service.close();moda2Service.open('modal-2')">Crear lista</button>
        <hr style="width: 100%;">
        <div class="my-lists">
          <ul>
            <li *ngFor="let list of filteredLists" (click)="addToList(list._id)">{{ list.title }}</li>
          </ul>
        </div>
        <i (click)="moda2Service.close()" class='bx bx-x' id="close"></i>
      </app-modal>
      <!-- Create List Modal -->
      <app-modal id="modal-2">
        <h3>Crear Lista</h3>
        <div>
          <form>
            <label for="listName">Nombre de la Lista:</label>
            <input type="text" name="listName" id="listName" [(ngModel)]="this.listName">
            <label for="listDescription">Descripcion de la Lista:</label>
            <textarea name="listDescription" id="listDescription" [(ngModel)]="this.listDescription" cols="30"
              rows="10"></textarea>
            <div class="radio-container">
              <label class="radio-label" for="private">
                <input class="radio-input" type="radio" [(ngModel)]="this.visibility" name="visibility" value="Privada"
                  id="private" checked>
                Privada
              </label>
              <label class="radio-label" for="public">
                <input class="radio-input" type="radio" [(ngModel)]="this.visibility" name="visibility" value="Pública"
                  id="public">
                Pública
              </label>
            </div>
            <br>
            <button type="submit" (click)="createList()">Crear</button>
          </form>
        </div>
        <i (click)="moda2Service.close()" class='bx bx-x' id="close"></i>
      </app-modal>
    </div>
  </div>
</div>
<div class="about-movie container" *ngIf="movie">
  <h2>{{ movie.title }}</h2>
  <p> {{ movie.overview }}</p>
  <h2 class="cast-heading">Actores Principales</h2>
  <div class="cast">
    <div class="cast-box" *ngFor="let actor of cast | slice:0:5">
      <img
        [src]="actor.profile_path ? 'https://image.tmdb.org/t/p/w500' + actor.profile_path : 'https://www.softzone.es/app/uploads/2018/04/guest.png' "
        alt="" class="cast-img">
      <span class="cast-title">{{ actor.name }}</span>
    </div>
  </div>
  <div *ngIf="streaming?.results?.ES?.flatrate">
    <h2 class="plataform-heading"> Plataformas de streaming</h2>
    <div class="plataform">
      <div class="plataform-box" *ngFor="let stream of streaming?.results?.ES?.flatrate">
        <img src="https://image.tmdb.org/t/p/original/{{stream.logo_path}}" alt="{{stream.provider_name}}"
          class="plataform-img">
        <div class="plataform-div">
          <span class="plataform-title">{{stream.provider_name}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="heading" id="headingExplorer">
    <h3 class="heading-title">Comentarios</h3>
    <div class="total-rating">
      <span *ngFor="let star of ratingStars; let i = index" class="total-rating" [class.active]="star">
        <i class="bx bxs-star"></i>
      </span>
      <span class="rating-number">{{ roundedRating }}/5</span>
    </div>
  </div>
  <div *ngIf="this.client" class="comment-container-1">
    <div class="comment-image">
      <img src="http://{{apiUrl}}:3000/api/{{this.client.profilePhoto}}" alt="Image">
    </div>
    <div class="comment-content">
      <p><span id="mention">@{{this.client.name}}</span></p>
      <input type="text" id="comment-input" [(ngModel)]="comment" placeholder="Escribe un comentario...">
      <div class="comment-rating">
        <form>
          <input type="radio" name="stars" id="star5" value="5" [(ngModel)]="selectedStars">
          <label for="star5"><i class='bx bxs-star'></i></label>
      
          <input type="radio" name="stars" id="star4" value="4" [(ngModel)]="selectedStars">
          <label for="star4"><i class='bx bxs-star'></i></label>
      
          <input type="radio" name="stars" id="star3" value="3" [(ngModel)]="selectedStars">
          <label for="star3"><i class='bx bxs-star'></i></label>
      
          <input type="radio" name="stars" id="star2" value="2" [(ngModel)]="selectedStars">
          <label for="star2"><i class='bx bxs-star'></i></label>
      
          <input type="radio" name="stars" id="star1" value="1" [(ngModel)]="selectedStars">
          <label for="star1"><i style="color: #039be5;" class='bx bxs-star'></i></label>
        </form>
      </div>
      <input type="submit" class="input-com" value="Publicar" (click)="addCommentToMovie()">
    </div>
  </div>
  <div *ngIf="commentList && commentList.length > 0; else elseBlock">
    <div *ngFor="let comment of commentList" class="comments-container">
      <div class="comment">
        <div class="comment-avatar">
          <img src="http://{{apiUrl}}:3000/api/{{comment.userId.profilePhoto}}" alt="Avatar" class="avatar-img">
        </div>
        <div class="comment-content">
          <div class="comment-info">
            <span class="comment-author">{{ comment.userId.name }}</span>
            <span class="comment-date">{{ formatDate(comment) }}</span>
            <i *ngIf="this.client?.id == comment.userId._id" class="bx bxs-trash bx-border" (click)="deleteComment(comment._id)"></i>
          </div>
          <p class="comment-text">{{ comment.comment }}</p>
          <div class="comment-rating">
            <span *ngFor="let star of stars" class="star" [class.active]="star <= comment.rating">
              <i class="bx bxs-star"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <h2 style="margin-bottom: 70px;">No hay comentarios</h2>
  </ng-template>
</div>