<app-navbar></app-navbar>
<section class="home container" id="home">
    <img src="../assets/img/background-movies.png" alt="" class="home-img">
    <div class="home-text">
        <h1 class="home-title">Películas de <br> Onlyne <img src="./assets/img/iconwhite.png" alt=""></h1>
        <h2>Encuentra tu película favorita <i class='bx bx-movie-play'></i></h2>
    </div>
</section>
<section class="movies container" id="movies">
    <div class="heading">
        <h2 class="heading-title">Películas</h2>
    </div>
    <br>
    <div class="section-tags">
        <div id="tags">
            <div class="tag" *ngFor="let genre of genres" [class.selected]="genre === selectedGenre"
              (click)="selectGenre(genre)">
              {{ genre.name }}
            </div>
        </div>
    </div>
    <div class="movies-content">
        <div class="movie-box" *ngFor="let movie of moviesWithGenre">
            <img [src]="movie.path ? 'https://image.tmdb.org/t/p/w220_and_h330_face' + movie.path : 'https://us.123rf.com/450wm/pavelstasevich/pavelstasevich1902/pavelstasevich190200120/124934975-no-hay-icono-de-imagen-disponible-vector-plano.jpg?ver=6' " alt="" class="movie-box-img">
                <div class="box-text">
                    <h2 class="movie-title">{{ movie.title }}</h2>
                    <span class="movie-gender">{{ movie.genre }}</span>
                    <span (click)="getDetailsMovie(movie)" class="watch-btn play-btn">
                        <i class="bx bx-right-arrow"></i>
                    </span>
                </div>
        </div>
    </div>
</section>