<app-navbar></app-navbar>
<app-userdetail [client]="client"></app-userdetail>
<section class="profile container">
    <div class="user-profile">
        <div class="profile-content">
            <div class="shadow"></div>
            <div class="avatar">
                <img src="./assets/2.jpg" alt="img">
                <a href="#" class="change-photo">
                    <i class="fas fa-camera"></i>
                    <span>Cambiar foto</span>
                </a>
            </div>
            <div class="data-profile">
                <h4 class="user-title">&commat;{{this.client.name}}</h4>
                <p class="user-bio">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                <ul class="profile-list">
                    <li *ngIf="this.client.lists_created; else emptyList">{{this.client.lists_created.length}} Mis listas</li>
                    <ng-template #emptyList>
                      <li>0 Mis listas</li>
                    </ng-template>
                    <li *ngIf="this.client.lists_favourite; else emptyList2">{{this.client.lists_favourite.length}} Mis listas favoritas</li>
                    <ng-template #emptyList2>
                      <li>0 Mis listas favoritas</li>
                    </ng-template>
                </ul>
                <button (click)="openModal(client)">Editar Datos</button>
            </div>
        </div>
    </div>
</section>
<section class="list container">
    <div class="user-profile">
        <h1>Mis Listas</h1>
        <hr>
        <div class="my-list">
            <div class="item">
                <ul>
                    <li><img src="./assets/2.jpg" alt="" class="templatemo-item"></li>
                    <li>
                        <h4>Nombre</h4><span>Nombre de lista</span>
                    </li>
                    <li>
                        <h4>Seguidores</h4><span>Número de seguidores</span>
                    </li>
                    <li>
                    </li>
                    <li>
                        <div class="main-border-button">
                            <a href="#" class="">Mostrar</a>
                        </div>
                    </li>
                    <li>
                        <div class="main-border-button">
                            <a href="#" class="">Editar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>