<app-navbar></app-navbar>
<app-userdetail [client]="client"></app-userdetail>
<section class="profile container">
    <div class="user-profile">
        <div class="profile-content">
            <div class="shadow"></div>
            <div class="avatar">
                <img src="http://localhost:3000/api/{{this.client.profilePhoto}}" alt="profile-img">
                <a (click)="moda2Service.open('modal-1')" class="change-photo">
                    <span>Cambiar foto</span>
                    <i class='bx bxs-camera'></i>
                </a>
            </div>
            <div class="data-profile">
                <h4 class="user-title">&commat;{{this.client.name}}</h4>
                <p class="user-bio">Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                <ul class="profile-list">
                    <li *ngIf="this.client.lists_created; else emptyList">{{this.client.lists_created.length}} Mis listas</li>
                    <ng-template #emptyList>
                      <li>0 Mis listas</li>
                    </ng-template>
                    <li *ngIf="this.client.lists_favourite; else emptyList2">{{ this.client.lists_favourite.length }} Mis listas favoritas</li>
                    <ng-template #emptyList2>
                      <li>0 Mis listas favoritas</li>
                    </ng-template>
                </ul>
                <button (click)="openModal(client)">Editar Datos</button>
            </div>
        </div>
    </div>
</section>
<section class="list container">
    <div class="user-profile">
        <button (click)="moda2Service.open('modal-2')">Crear lista</button>
        <h1>Mis Listas</h1>
        <hr>
        <div class="my-list">
            <div class="item" *ngFor="let list of userLists">
                <ul>
                    <li><img src="http://localhost:3000/api/{{list.listPhoto}}" alt="" class="templatemo-item"></li>
                    <li>
                        <h4>{{ list.title }}</h4><span>Nombre de lista</span>
                    </li>
                    
                    <li *ngIf="list.followers; else emptyListFavourite2">
                        <h4>{{ list.followers }}</h4><span>Número de seguidores</span>
                    </li>
                        <ng-template #emptyListFavourite2>
                            <li>
                                <h4>0</h4><span>Número de seguidores</span>
                            </li>
                        </ng-template>    
                    
                    <li>
                    </li>
                    <li>
                        <div class="main-border-button">
                            <a routerLink="/detail-list/{{list._id}}" class="">Mostrar</a>
                        </div>
                    </li>
                    <li>
                        <div class="main-border-button">
                            <a (click)="moda2Service.open('modal-editList');selectListId(list._id)" class="">Editar</a>
                        </div>
                    </li>
                    <li>
                        <div class="main-border-button">
                            <a (click)="deleteList(list._id)" class="">Borrar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <h1>Mis Listas Favoritas</h1>
        <hr>
        <div class="my-list">
            <div class="item" *ngFor="let list of userFavoriteLists">
                <ul>
                    <li><img src="http://localhost:3000/api/{{list.listPhoto}}" alt="" class="templatemo-item"></li>
                    <li>
                        <h4>{{ list.title }}</h4><span>Nombre de lista</span>
                    </li>
                    <li>
                        <h4>{{ list.followers }}</h4><span>Número de seguidores</span>
                    </li>
                    <li>
                    </li>
                    <li>
                        <div class="main-border-button">
                            <a routerLink="/detail-list/{{list._id}}" class="">Mostrar</a>
                        </div>
                    </li>
                    <li>
                        <div class="main-border-button">
                            <a (click)="moda2Service.open('modal-editList');selectListId(list._id)" class="">Editar</a>
                        </div>
                    </li>
                    <li>
                        <div class="main-border-button">
                            <a (click)="deleteFavoriteList(list._id)" class="">Borrar</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Change Photo Modal -->
<app-modal id="modal-1">
    <h3>Elige tu avatar</h3>
    <div class="user-avatar">
        <img src="http://localhost:3000/api/{{this.currentPhoto}}" alt="profile-photo">
    </div>
    <input type="file" (change)="photoSelected($event)" accept="image/png, image/jpg, image/jpeg" id="avatarInput">
    <label id="labelPhoto" for="avatarInput">Subir foto desde un dispositivo local</label>
    <h5>El formato debe ser JPEG o PNG y no puede superar los 5 MB.</h5>
    <p style="font-size: x-small;">o selecciona una de nuestros avatares sugeridos</p>
    <div class="photo-container">
        <div class="row">
            <img (click)="selectDefaultPhoto('public/uploads/avatar1.jpg')" src="http://localhost:3000/api/public/uploads/avatar1.jpg" alt="avatar1">
            <img (click)="selectDefaultPhoto('public/uploads/avatar2.jpg')" src="http://localhost:3000/api/public/uploads/avatar2.jpg" alt="avatar2">
            <img (click)="selectDefaultPhoto('public/uploads/avatar3.jpg')" src="http://localhost:3000/api/public/uploads/avatar3.jpg" alt="avatar3">
        </div>
        <div class="row">
            <img (click)="selectDefaultPhoto('public/uploads/avatar4.jpg')" src="http://localhost:3000/api/public/uploads/avatar4.jpg" alt="avatar4">
            <img (click)="selectDefaultPhoto('public/uploads/avatar5.jpg')" src="http://localhost:3000/api/public/uploads/avatar5.jpg" alt="avatar5">
            <img (click)="selectDefaultPhoto('public/uploads/avatar6.jpg')" src="http://localhost:3000/api/public/uploads/avatar6.jpg" alt="avatar6">
        </div>
    </div>
    <button id="btn-modal" (click)="uploadDefaultPhoto()" [disabled]="!this.selectedDefaultPhoto">Confirmar</button>
    <i (click)="moda2Service.close()" class='bx bx-x' id="close"></i>
</app-modal>
<!-- Create List Modal -->
<app-modal id="modal-2">
    <h3>Modal 2</h3>
    <div class="user-avatar">
        <img src="http://localhost:3000/api/{{this.currentPhoto}}" alt="profile-photo">
    </div>
    <div class="list">
        <form>
            <label for="listName">Nombre de la Lista:</label>
            <input type="text" name="listName" id="listName" [(ngModel)]="this.listName">
            <label for="listDescription">Descripcion de la Lista:</label>
            <textarea name="listDescription" id="listDescription" [(ngModel)]="this.listDescription" cols="30" rows="10"></textarea>
            <button type="submit" (click)="createList()">Crear</button>
        </form>
    </div>
    <i (click)="moda2Service.close()" class='bx bx-x' id="close"></i>
</app-modal>
<!-- Edit List Modal -->
<app-modal id="modal-editList">
    <div id="editList">
        <h3 id="title-list">Editar Información</h3>
        <div class="content">
            <div class="list-avatar">
                <img id="list-img" src="http://localhost:3000/api/{{this.selectedList?.listPhoto}}" alt="profile-photo">
                <label for="listPhotos">
                    <a class="change-photo">
                        <i class='bx bx-pencil'></i>
                        <span>Elegir foto</span>
                    </a>
                </label>
                <input type="file" (change)="uploadListPhoto($event)" accept="image/png, image/jpg, image/jpeg" id="listPhotos">
            </div>
            <div class="content-form">
                <form>
                    <label for="listName">Nombre:</label>
                    <input type="text" name="listName" id="listName" [(ngModel)]="this.listNameEdit">
                    <label for="listDescription">Descripcion de la Lista:</label>
                    <textarea name="listDescription" id="listDescription" [(ngModel)]="this.listDescriptionEdit" cols="30" rows="10"></textarea>
                </form>
            </div>
        </div>
        <button type="submit" (click)="editList()">Guardar</button>
        <i (click)="moda2Service.close()" class='bx bx-x' id="close"></i>
    </div>
</app-modal>