<app-navbar></app-navbar>
<div class="play-container container" *ngIf="list">
  <img id="list-img" src="http://{{apiUrl}}:3000/api/{{this.list?.listPhoto}}" alt="profile-photo" class="play-img">
  <div class="play-text">
    <h1>{{ list.title }}</h1>
    <p>{{ list.description }}</p>
    <div class="tags">
      <span><i class='bx bxs-user'></i> {{ list.author.name}}</span>
    </div>
  </div>
  <i *ngIf="client" (click)="addListToFavourites()" class="bx bxs-heart play-movie"></i>
</div>
<section class="movie container" id="movie">
  <div class="heading" id="movie">
    <h2 class="heading-title">Contenido de la lista</h2>
  </div>
  <div class="movies-content">
    <div class="movie-box" *ngFor="let detail of listDetails">
      <div *ngIf="detail.typeOf == 'movie'">
        <img
          [src]="detail.poster_path ? 'https://image.tmdb.org/t/p/w220_and_h330_face' + detail.poster_path : 'https://www.softzone.es/app/uploads/2018/04/guest.png' "
          alt="photo" class="movie-box-img">
        <div class="box-text">
          <span class="movie-title">{{ detail.title }}</span>
          <span *ngIf="this.client.name == list.author.name" (click)="removeMovieToList(detail.id)" class="trash-icon">
            <i class="bx bxs-trash"></i>
          </span>
          <span [routerLink]="['/details-movie', detail.id]" class="watch-btn play-btn">
            <i class="bx bx-right-arrow"></i>
          </span>
        </div>
      </div>
      <div *ngIf="detail.typeOf == 'serie'">
        <img
        [src]="detail.poster_path ? 'https://image.tmdb.org/t/p/w220_and_h330_face' + detail.poster_path : 'https://www.softzone.es/app/uploads/2018/04/guest.png' "
        alt="" class="movie-box-img">
        <div class="box-text">
          <span *ngIf="this.client.name == list.author.name" (click)="removeSerieToList(detail.id)" class="trash-icon">
            <i class="bx bxs-trash"></i>
          </span>
          <span class="movie-title">{{ detail.name }}</span>
          <span [routerLink]="['/details-serie', detail.id]" class="watch-btn play-btn">
            <i class="bx bx-right-arrow"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</section>