<section class="home container" id="home">
    <img src="../assets/img/background-series.png" alt="" class="home-img">
    <div class="home-text">
        <h1 class="home-title">Series de <br> Onlyne <img src="./assets/img/iconwhite.png" alt=""></h1>
        <h2>Encuentra tu serie favorita <i class='bx bx-tv'></i></h2>
    </div>
</section>
<section class="movies container" id="movies">
    <div class="heading">
        <h2 class="heading-title">Series</h2>
    </div>
    <div class="movies-content">
        <div class="movie-box" *ngFor="let serie of seriesWithGenre">
            <div>
                <img src="https://image.tmdb.org/t/p/w220_and_h330_face{{serie.path}}" alt="" class="movie-box-img">
                <div class="box-text">
                    <h2 class="movie-title">{{ serie.title }}</h2>
                    <span class="movie-gender">{{ serie.genre }}</span>
                    <a href="#" class="watch-btn play-btn">
                        <i class="bx bx-right-arrow"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>