<div class="wrapper">
  <div id="formContent">
    <div class="fadeIn first">
      <img src="../../assets/img/logo.png" alt="logo">
      <h2>Restablecer tu contraseña</h2>
      <br>
      <p class="text">Para restablecer su contraseña, ingrese su correo electrónico a continuación y envíelo. Se le enviará un correo electrónico con instrucciones sobre cómo completar el proceso.</p>
    </div>
    <form #loginForm="ngForm">
      <input type="text" class="fadeIn second" name="email" placeholder="E-mail" [(ngModel)]="email"
        #emailInput="ngModel" required email>
      <div class="alert-danger" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
        <div *ngIf="emailInput.errors?.['required']">
          El email es requerido!
        </div>
        <div *ngIf="emailInput.errors?.['email']">
          El email debe tener un formato válido.
        </div>
      </div>
      <br>
      <input type="submit" class="fadeIn fourth" [disabled]="!loginForm.form.valid" value="Restablecer contraseña" (click)="isOn = true; forgotPassword()">
    </form>

  </div>
</div>