<app-navbar></app-navbar>
<div class="play-container container" *ngIf="movie">
    <img src="https://image.tmdb.org/t/p/w1280{{movie.backdrop_path}}" alt="" class="play-img">
    <div class="play-text">
        <h2>{{ movie.title }}</h2>
        <div class="rating" *ngIf="movie.vote_average">
            <h1>{{ movie.vote_average.toFixed(2) }}</h1>
            <i *ngFor="let star of getStarRating(movie.vote_average)" class="{{ star }}"></i>
        </div>
        <div class="tags">
            <span *ngFor="let genres of movie.genres">{{ genres.name }}</span>
        </div>
        <a href="{{ trailer }}" target="_blank" class="watch-btn" *ngIf="trailer">
            <i class="bx bx-right-arrow"></i>
            <span>Mirar Trailer</span>
            <i class='bx bx-plus'></i>
            <span>Añadir a Lista</span>
        </a>
    </div>
    <i class="bx bxs-heart play-movie"></i>
</div>
<div class="about-movie container" *ngIf="movie">
    <h2>{{ movie.title }}</h2>
    <p> {{ movie.overview }}</p>
    <h2 class="cast-heading">Actores Principales</h2>
    <div class="cast">
        <div class="cast-box" *ngFor="let actor of cast | slice:0:5">
            <img src="https://image.tmdb.org/t/p/w500/{{actor.profile_path}}" alt="" class="cast-img">
            <span class="cast-title">{{ actor.name }}</span>
        </div>
    </div>
    <div class="heading" id="headingExplorer">
        <h3 class="heading-title">Comentarios</h3>
    </div>
</div>