<header>
    <div class="nav container">
        <a href="home" class="logo">
            Only<span>ne</span>
        </a>
        <div class="search-box">
            <input type="search" name="" id="search-input" placeholder="Buscar Películas o Series">
            <i class="bx bx-search"></i>
        </div>
        <a routerLink="login" class="user">
            <button><i class='bx bx-user'></i> Iniciar sesión </button>
        </a>
        <div class="navbar">
            <a href="home" id="home" class="nav-link nav-active">
                <i class="bx bx-home"></i>
                <span class="nav-link-title">Inicio</span>
            </a>
            <a href="trends" id="trends" class="nav-link">
                <i class="bx bxs-hot"></i>
                <span class="nav-link-title">Tendencias</span>
            </a>
            <a href="explorer" id="explorer" class="nav-link">
                <i class="bx bx-compass"></i>
                <span class="nav-link-title">Explorar</span>
            </a>
            <a href="movies.html" class="nav-link">
                <i class='bx bx-movie-play'></i>
                <span class="nav-link-title">Películas</span>
            </a>
            <a href="series.html" class="nav-link">
                <i class='bx bx-tv'></i>
                <span class="nav-link-title">Series</span>
            </a>
            <a href="lists.html" class="nav-link">
                <i class='bx bx-list-ul'></i>
                <span class="nav-link-title">Listas</span>
            </a>
        </div>
    </div>
</header>