<header>
    <div class="nav container">
        <a routerLink="/home" class="logo">
            Only<span>ne</span>
        </a>
        <form>
            <div class="search-box">
                <input type="search" name="" id="search-input" placeholder="Buscar Películas o Series" #txtSearch (keyup.enter)="searchContent(txtSearch.value)">
                <i class="bx bx-search"></i>
            </div>
        </form>
        <a *ngIf="!client" routerLink="/login" class="user">
            <button class="log-in"><i class='bx bx-user'></i> Iniciar sesión </button>
        </a>

        <div class="dropdown" *ngIf="client">
            <img src="http://localhost:3000/api/{{this.client.profilePhoto}}" alt="profilePhoto" style="
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
                object-position: center;
                margin-left: 10px;"><i class='bx bx-chevron-down' id="arrow"></i>
            <div class="content">
                <a class="user" routerLink="/profile">
                    <p class="dropdown-button"> Perfil </p>
                </a>
                <a class="user" (click)="logout()" routerLink="">
                    <p class="dropdown-button"><i class='bx bx-user'></i> Cerrar sesión </p>
                </a>
            </div>
        </div>
          

        <div class="navbar">
            <a routerLink="/home" id="home" class="nav-link nav-active">
                <i class="bx bx-home"></i>
                <span class="nav-link-title">Inicio</span>
            </a>
            <a routerLink="/trends" id="trends" class="nav-link">
                <i class="bx bxs-hot"></i>
                <span class="nav-link-title">Tendencias</span>
            </a>
            <a routerLink="/explorer" id="explorer" class="nav-link">
                <i class="bx bx-compass"></i>
                <span class="nav-link-title">Explorar</span>
            </a>
            <a routerLink="/movies" id="movies" class="nav-link">
                <i class='bx bx-movie-play'></i>
                <span class="nav-link-title">Películas</span>
            </a>
            <a routerLink="/series" id="series" class="nav-link">
                <i class='bx bx-tv'></i>
                <span class="nav-link-title">Series</span>
            </a>
            <a routerLink="/lists" id="lists" class="nav-link">
                <i class='bx bx-list-ul'></i>
                <span class="nav-link-title">Listas</span>
            </a>
        </div>
    </div>
</header>