.modal {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow-x: hidden;
  background-color: #00000070;
}

.modal-wrap {
  position: fixed;
  display: block;
  width: 100%;
  max-width: 2000px;
  height: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 45px;
  border: 3px solid white;
  border-radius: 20px;
  overflow: hidden;
  color: white;
  background-color: black;
  align-self: center;
  box-shadow: 0 0 15px rgb(0, 195, 255);
  transform: scale(.7);
}

.modal-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 50px;
  padding-top: 80px;
}

#title {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  font-size: 30px;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  padding-bottom: 5px;
}

#title span {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: bold;
  color: #039be5;
}

#title2 {
  margin: 10px;
  font-size: 30px;
  border-bottom: 1px solid #ffffff;
  width: 100%;
  padding-bottom: 5px;
}

.modal-left {
  float: left;
  width: 30%;
}

.modal-left img {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

i {
  position: absolute;
  font-size: 50px;
  top: 10px;
  right: 10px;
}

img {
  border-radius: 20%;
}

button {
  margin: 10px;
}

.modal-right {
  float: right;
  width: 70%;
  padding: 20px;
}
.modal-right form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.modal-right label {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 0.3rem;
}

.modal-right input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-close {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background: #039be5;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.animation {
  animation-duration: 1.5s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

@keyframes fadeIn {0% {opacity: 0;}to{opacity:1;}}
@-webkit-keyframes fadeIn {0% {opacity: 0;}to{opacity:1;}}
