.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
}

input {
  background: hsla(0,0%,100%,.1);
  border: 1px solid transparent;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: 14px;
  height: 40px;
  padding: 0 12px;
  width: 100%;
}

.modal-wrap {
  position: relative;
  max-width: 600px;
  width: 90%;
  height: auto;
  max-height: 80%;
  margin: 30px;
  padding: 20px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: #191b1f;
  color: white;
  box-shadow: 0 0 15px rgb(0, 195, 255);
  transform: scale(0.7);
  animation: fadeIn 0.5s ease-in-out forwards;
  overflow-y: auto;
}

/* Estilos para webkit (Chrome, Safari) */
.modal-wrap::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.modal-wrap::-webkit-scrollbar-thumb {
  background-color: hsla(0,0%,100%,.1);
  border-radius: 5px;
}

/* Estilos para moz (Firefox) */
.modal-wrap {
  scrollbar-width: thin;
  scrollbar-color: hsla(0,0%,100%,.1) transparent;
}


.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2#title {
  margin: 10px 0;
  font-size: 24px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}

h2#title span {
  color: #039be5;
}

.modal-left {
  display: flex;
  margin-bottom: 20px;
  width: 227px;
  height: 225px;
}

.modal-left img {
  object-fit: cover;
  border-radius: 20%;
}

.modal-right {
  width: 100%;
  text-align: center;
}

.modal-right form {
  display: flex;
  flex-direction: column;
}

.modal-right label {
  margin-bottom: 0.3rem;
  font-size: 18px;
}

.modal-right input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 1rem;
}

.modal-close,
.change-password-button {
  margin-top: 10px;
  width: 100%;
  padding: 10px 20px;
  border: none;
  background-color: #039be5;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-close:hover,
.change-password-button:hover {
  background-color: #01579b;
}

.animation {
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 911px) {
  .modal-wrap {
    margin: 10px;
    padding: 10px;
    border-width: 2px;
    border-radius: 10px;
  }

  h2#title {
    font-size: 20px;
  }

  .modal-left {
    margin-bottom: 10px;
  }

  .modal-left img {
    border-radius: 10%;
  }

  .modal-right label {
    font-size: 16px;
  }

  .modal-right input {
    font-size: 14px;
  }

  .modal-close,
  .change-password-button {
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 3px;
  }

}